/*Color and fonts*/

body {
background-color: rgb(250,238,231);
color: rgb(99,58,130);
font-family: lora;
font-size: 17px
}

h1  {
	color: rgb(236,115,115);
	font-family: courier;
	font-weight: bold; 
	font-size: 24px
	letter-spacing: 5px;

}

 h2 {
	color: rgb(194,149,216);
	font-family: roboto;
	font-weight: 700;
	letter-spacing: 5px;

}

a {
	font-weight: bold;
}


a:hover {
	color: pink;
}


/* custom design with class */

.container {
width: 700px; 
margin: 40px auto; 
}

@media (max-width: 760px) {
    .container { 
		width: 600px;
    }
}

@media (max-width: 500px) {
    .container { 
		background-color: purple;
		width: 400px;
    }
}

.card-white {
background: white;
padding: 40px;
box-shadow: 0px 10px 30px rgba(0,0,0,0.1);
border-radius: 4px;
margin: 20px 0px;
text-align: center;
}

.img-circle {
border-radius: 50%;
}

.btn-blue {
	background-color: pink;
	color: purple;
	padding: 15px 20px;
	border-radius: 4px;
}

.btn-blue:hover {
	background-color: white;
	color: black;
}

.list-inline {
	list-style: none;
	padding-left: 0px;
}

.list-inline li {
	display: inline;
	padding: 10px;
}

.list-inline i {
	font-size: 50px;
}

/*design adjustments using id*/
#introduction p {
	margin-bottom: 50px;
}




